[Desktop Entry]
Type=Application
Version=1.0
Name=Ncmpcpp
GenericName=Music player
Comment=Frontend to MPD
Icon=elisa
Exec=alacritty -t Ncmpcpp -e ncmpcpp
Categories=Office;ConsoleOnly;
Keywords=calendar;todo
