[Desktop Entry]
Type=Application
Version=1.0
Name=Neomutt
GenericName=Mail
Comment=Email client
Icon=neomutt
Exec=$TERMINAL -e neomutt
Categories=Office;ConsoleOnly;
Keywords=communication;mail;
