#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Syncthing
Exec=sh -c "$BROWSER localhost:8384"
Icon=syncthing
