#!/bin/sh

# Start some programs if they are not already running
function run {
    if ! pgrep -f $1; then
        $@&
    fi >> /dev/null
}
run compton --config .config/compton/compton.conf
run xrdb ~/.Xresources
run urxvtd

# Set some variables
export QT_QPA_PLATFORMTHEME=qt5ct
