*foreground:#f0f0f0
*foreground_bold:#ffffff
*cursor:#ffffff
*background:#000000

!!black
*color0:#1b1918
*color8:#766e6b
!!red
*color1:#f22c40
*color9:#f22c40
!!green
*color2:#5ab738
*color10:#5ab738
!!yellow
*color3:#d5911a
*color11:#d5911a
!!blue
*color4:#407ee7
*color12:#407ee7
!!magenta
*color5:#ff66ff
*color13:#ff66ff
!!cyan
*color6:#33ccff
*color14:#33ccff
!!white
*color7:#a8a19f
*color15:#f1efee

URxvt.intensityStyles:false
URxvt.background:[80]#000000
URxvt.depth:32
URxvt.font:xft:monospace:size=9
URxvt.scrollBar:false
URxvt.cursorColor:white

Xcursor.theme: Numix-Cursor
Xcursor.size: 16
