/* Blend the tabs in better with the tab bar */
.tab-background-inner { background-color: #0c0c0d !important; }

/* Make the tabs small */
.tab-content {
  min-width: 4em !important;
  max-width: 6em !important;
}
.tabbrowser-tab[fadein] {
  min-width: 4em !important;
  max-width: 6em !important;
}

/* Force some space at the end of the tab bar */
#TabsToolbar {
  margin-right:  40vw   !important;
  margin-bottom: -0.1em !important;
}

/* Move the nav bar into the freed tab bar space */
#nav-bar {
  margin-top:       -2.2em      !important;
  margin-left:      60vw        !important;
  margin-bottom:    -0.1em      !important;
  background-color: transparent !important;
}

/* Hide the tracking protection icon */
#tracking-protection-icon-container { display: none !important; }

/* Blend the url bar in better with the tab bar */
#urlbar[breakout]  { top:              0.2em   !important; }
#urlbar-background { background-color: #0c0c0d !important; }
#urlbar-container  { min-width: unset          !important; }

/* Dark loading pages */
browser { background-color: #0c0c0d !important; }
