/* Background image on the new tab page */
@-moz-document url(about:blank), url-prefix(about:blank), url(about:home), url(about:newtab) {
  body::before {
    content: "";
    background: no-repeat url(../../../.config/background/blur.png) center ;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
}
