configuration {
	modi:            "dmenu";
	font:            "sans Bold 9";
	show-icons:      false;
	lines:           8;
	columns:         1;
	disable-history: true;
}

* {
	background-color: #00000000;
	padding:          2;
	text-color:       #bfbfbf;
}

window { width: 240px; }

mainbox {
	background-color: #0d0d0dfb;
	border:           1px;
	border-color:     #333333;
}

element selected {
	background-color: #333333fb;
	text-color:       #f2f2f2;
}


/* vim:ft=css
