configuration {
	modi:            "dmenu";
	font:            "sans Bold 9";
	show-icons:      false;
	lines:           8;
	columns:         1;
	disable-history: true;
}

* {
	background-color: #00000000;
	padding:          2;
	text-color:       #c5c8c6;
}

window { width: 240px; }

mainbox {
	background-color: #1d1f21;
	border:           1px;
	border-color:     #666666;
}

element selected {
	background-color: #666666;
	text-color:       #eaeaea;
}


/* vim:ft=css
