* {
	background-color: #00000000;
	padding: 2;
	text-color: #bfbfbf;
}

mainbox {
	background-color: #0d0d0ddd;
	border: 1px;
	border-color: #0d0d0d;
}

element {
	orientation: vertical;
}

element selected {
	background-color: #595959;
}

element-icon {
	size: 8ch;
}

window {
    width: 768px;
}
