* {
	background-color: #00000000;
	padding: 2;
	text-color: #f2f2f2;
}

mainbox {
	background-color: #0d0d0ddd;
	border: 1px;
	border-color: #0d0d0d;
}

element selected {
	background-color: #595959;
}

element-icon {
	size: 3ch;
}
