* {
	background-color: #00000000;
	padding: 4;
	text-color: #f2f2f2;
}

mainbox {
	background-color: #0d0d0ddd;
	border: 2px;
	border-color: #404040;
}

element selected {
	background-color: #404040;
}
