* {
    font-family: "sans";
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
}

window#waybar {
    background: rgba(13, 13, 13, 0.98);
    color: #bfbfbf;
}

#workspace * {
    padding: 0 2px;
}

#workspaces button.focused {
    background: #333333;
}
