!
! ~/.Xresources
!

! Colour scheme

*background: #000000
*foreground: #ffffff

*color0: #333333
*color1: #f1273b
*color2: #56b036
*color3: #e6b800
*color4: #4984e9
*color5: #ff66ff
*color6: #33ccff
*color7: #d9d9d9

*color8: #4d4d4d
*color9: #f45767
*color10: #70c94f
*color11: #ffd11a
*color12: #77a3ee
*color13: #ff99ff
*color14: #66d9ff
*color15: #f2f2f2

! X settings

Xcursor.theme: Numix-Cursor
Xcursor.size: 16

! URxvt settings

URxvt.background: [80]#000000
URxvt.cursorColor: white
URxvt.depth: 32
URxvt.intensityStyles: false
URxvt.font: xft:DejaVu Sans Mono:size=9, xft:Symbola:pixelsize=8
URxvt.scrollBar: false

URxvt.perl-ext-common: clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

